<div class='people-page'>
  <div class='investigators-section'>
    <h1>Investigators</h1>
    <div class='investigators-row'>
      {% for person in people %}
      <div class='person-card'>
        <div class='person-card__top'>
          <img class='person-card__portrait' src='/assets/portraits/{{person.portrait}}'/>
          <div class='person-card__name'>
            {{person.name}}
          </div>
        </div>
        <div class='person-card__bottom'>
          <div class='person-card__title'>
            {{person.title}}
          </div>
          <div class='icon-link-row investigator-icon-link-row'>
            {% if person.twitter %}
            <a href='{{ person.twitter }}'>
              <img class='icon-link-row__icon' src='/assets/twitter-icon.png'/>
            </a>
            {% endif %}

            {% if person.linkedin %}
            <a href='{{ person.linkedin }}'>
              <img class='icon-link-row__icon' src='/assets/linkedin-icon.png'/>
            </a>
            {% endif %}

            {% if person.website %}
            <a href='{{ person.website }}'>
              <img class='icon-link-row__icon' src='/assets/website-link-icon.png'/>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
